// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Custom
.section-body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.section-body li {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 5px;
}

.section-body>li {
    margin-top: 20px;
}

// Cards
.card-header {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

.card-text {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}


// Blockquotes
.blockquote p {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

blockquote span {
    font-style: normal;
}


// List groups
.list-group-hover .list-group-item {
    transition: 0.3s;
}

.list-group-hover .list-group-item:hover {
    background-color: rgba(192, 192, 192, 0.1);
}


// Carousels
.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.carousel-caption {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.carousel-caption p {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 44vh;
    // min-height: 400px;
}

// .carousel-item>img {
//     width: 100%;
//     min-height: 400px;
// }

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel img {
    height: 100%;
}